<svelte:head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" type="text/css">
    <link rel="stylesheet" href="https://tutsplus.github.io/syntax-highlighter-demos/highlighters/Prism/prism.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-29611735-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-29611735-1');
    </script>
    <title>dreyou home page</title>
</svelte:head>
<style>
    :global(body) {
                background-color: #fbfaf9;
    }
</style>

<script>
	import '../app.css';
    import Box from '$lib/Box.svelte';
    import Note from '$lib/Note.svelte';
    import Header from '$lib/Header.svelte';
    import Footer from '$lib/Footer.svelte';
</script>

<Header/>

<Box><slot/></Box>

<Footer/>
