<script>
</script>
<style>
	.box {
		width: 83%;
		border: 0px solid #aaa;
		border-radius: 2px;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
		padding: 1em;
		margin: auto;
		background-color: white;
	}
</style>

<div class="box">
	<slot></slot>
</div>