<style xmlns:span="http://www.w3.org/1999/html">
	.footer {
		width: 83%;
		height: 25px;
		border: 0px solid #aaa;
		border-radius: 2px;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
		padding: 1em;
		margin: auto;
		display: table;
		flex-direction: row;
		margin-top: 2px;
		margin-bottom: 2px;
		background-color: white;
	}
</style>

<div class="footer">
	<div style="display: table-cell; vertical-align: middle; align-items: baseline; width: 120px;">
        <span>
		    <a href="https://kit.svelte.dev/">
			    <img src="https://kit.svelte.dev/images/svelte-kit-horizontal.svg"/>
		    </a>
		</span>
	</div>
	<div style="display: table-cell; vertical-align: middle; align-items: baseline">
		<span style="float: left; margin-top: 11px; margin-left: -30px; font-size: smaller">
			powered
		</span>
	</div>
	<div style="display: table-cell; vertical-align: middle; text-align: right">© dreyou 2021</div>
</div>