<style>
	.header {
		width: 83%;
		border: 0px solid #aaa;
		border-radius: 2px;
		box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
		padding: 1em;
		margin: auto;
		margin-top: 2px;
		margin-bottom: 2px;
		background-color: white;
	}
	.page {
		padding: 0px;
		width: 100%;
		margin: -6px;
		display: flex;
		flex-direction: row;
	}
	.button {
		padding: 2px;
		border: 1px solid #aaaaaa;
		text-decoration: none;
        margin-left: 5px;
		margin-top: 15px;
		margin-bottom: 5px;
		border-radius: 2px;
        line-height: 30px;
		box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
	}
</style>

<div class="header">
	<div class="page">
	    <div style="padding: 0px; margin: 0px; flex-grow: 1; border: 0px solid black">
	        <div style="display: inline-block; vertical-align: top">
				<a href="/"><img src="/images/av1_transp.gif"></a>
			</div>
	        <div style="display: inline-block; vertical-align: top">
		        <h2 style="margin-top: 4px; margin-bottom: 2px;">dreyou personal page</h2>
		        <p style="margin-top: 2px; font-style: italic">Transire  benefaciendo</p>
	        </div>
		</div>
		<div style="padding: 0px; margin: 0px; border: 0px solid black; display: flex; flex-direction: column; align-items: flex-end`">
			<div style="display: inline-block; height: 60%">
			</div>
			<div style="display: inline-block;">
				<a class="button" href="/archive">ARCHIVE</a>
				<a class="button" href="/">HOME</a>
			</div>
		</div>
	</div>
	<slot></slot>
</div>