<script>
    export let header="Note";
    export let warning=false;
</script>
<style>
    .note_container {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .note_info {
        width: 100%;
        height: 40px;
        border: 0px solid #aaa;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        background-color: rgb(195,201,205);
    }
    .note_warning {
        width: 100%;
        height: 40px;
        border: 0px solid #aaa;
        border-top-left-radius: 9px;
        border-top-right-radius: 9px;
        background-color: rgb(239,139,132);
    }
	.note {
		width: 80%;
        border: 0px solid #aaa;
		background-color: rgb(245,242,237);
        border-radius: 9px;
	}
</style>

<div class="note_container">
    <div class="note">
        {#if warning}
            <div class="note_warning"><div style="padding: 12px; font-weight: bold;">{header}</div></div>
        {:else}
            <div class="note_info"><div style="padding: 12px; font-weight: bold;">{header}</div></div>
        {/if}
        <div style="padding: 8px; margin: 0px;"><slot></slot></div>
    </div>
</div>
